# Rules:
#   1. Each directory shall have a minimum of 2 code owners.
#   2. Order is important as the last matching pattern takes the most precedence.
#      Keep folders below sorted in folder hierarchy order (alphabetically).
#   3. Do not override rules in subfolders, only extend

# Default owners
* @openvinotoolkit/vpux-plugin-admins
